@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glorify-Black';
  src: url('https://devstaticasset.azureedge.net/font/GlorifyBlack.woff2') format('woff2'),
    url('https://devstaticasset.azureedge.net/font/GlorifyBlack.woff') format('woff');
}

@font-face {
  font-family: 'Clever-Medium';
  src: url('https://devstaticasset.azureedge.net/font/CleverMedium.woff2') format('woff2'),
    url('https://devstaticasset.azureedge.net/font/CleverMedium.woff') format('woff');
}

.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 8px;
}

body {
  font-size: 24px;
}
